.layered-list-item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
	transition: var(--transition-default);
	box-shadow: 0 0 0 1px var(--shade-background-darker);
	background: var(--shade-background);

	&:hover {
		background: var(--secondary-color);
	}
}

.spacer {
	flex-grow: 2;
}

table.pairs-table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid var(--shade-background-darker);
	margin: 1em 0;

	td {
		border: 1px solid var(--shade-background-darker);
		padding: 8px 12px;
	}

	td:first-child {
		font-weight: 500;
		font-size: var(--font-small);
		background-color: var(--shade-background);
	}
}
