:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 14px;

	color-scheme: light;
	color: var(--app-color);
	background-color: var(--app-background-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	padding: 0;
	margin: 1em 0;
}

h1 {
	font-size: 2em;
	line-height: 1.1;
}

h2 {
	font-size: 1.5em;
	line-height: 1.1;
}

h3 {
	font-size: 1.2em;
	line-height: 1.1;
	font-weight: 500;
}

h4 {
	font-size: 1em;
	line-height: 1.1;
	font-weight: 600;
}

a {
	font-weight: normal;
	color: var(--primary-color);
	text-decoration: inherit;
	transition: var(--transition-default);
}

a:hover {
	color: hsl(from var(--primary-color) h s calc(l - 10));
	text-decoration: underline;
	text-underline-offset: 4px;
}

.dangerous {
	color: var(--dangerous-color);
}

.description {
	font-size: 12px;
	color: var(--remark-color);
}

.page-actions {
	display: flex;
	margin: 1em 0;
	padding-bottom: 1em;
}
