:root {
	--app-color: #213547;
	--app-background-color: #ffffff;

	--border-color: #eef;
	--border-color-darker: #ccdf;

	--border-active-ring: 0 0 0 2px var(--accent-color);
	--border-error-ring: 0 0 0 2px var(--error-color);
	--border-hover-ring: 0 0 0 2px var(--shade-background);

	--border-radius: 6px;
	--border-radius-large: 10px;
	--border-radius-small: 3px;

	--placeholder-color: #ccc;

	--default-transition: all 0.15s ease;

	--shade-background: #f9f9f9;
	--shade-background-darker: #ededed;

	--accent-color: #ffa500;
	--primary-color: #387adf;
	--primary-contrast-color: #fff;

	--dangerous-color: #dc3545;
	--dangerous-contrast-color: #fff;

	--secondary-color: #e9e9e9;
	--secondary-contrast-color: #222;

	--remark-color: #999;

	--error-color: #fc4100;
	--error-contrast-color: #fff;
	--error-color-light: #fae1dc;
	--error-color-border: hsl(from var(--error-color-light) h s calc(l - 10));
	--error-color-shadow: hsl(from var(--error-color-light) h calc(s + 5) calc(l - 5));

	--sub-color: #6c757d;
	--sub-contrast-color: #fff;

	--success-color: #198754;
	--success-contrast-color: #fff;

	--warning-color: #ffc107;
	--warning-contrast-color: #fff;

	--info-color: #0dcaf0;
	--info-contrast-color: #fff;

	--light-color: #f8f9fa;
	--light-contrast-color: #000;

	--dark-color: #212529;
	--dark-contrast-color: #fff;
}
